App_WebReferences/TopupService/ResellerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResellerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IResellerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://apitest.myancloud.net/prepaidcard/ResellerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://apitest.myancloud.net/prepaidcard/ResellerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://apitest.myancloud.net/prepaidcard/ResellerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PrepaidCardResellerCore.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IResellerService_AuthenticationAPI_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticationAPI" />
  </wsdl:message>
  <wsdl:message name="IResellerService_AuthenticationAPI_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticationAPIResponse" />
  </wsdl:message>
  <wsdl:message name="IResellerService_SoldOutPrepaidCard_InputMessage">
    <wsdl:part name="parameters" element="tns:SoldOutPrepaidCard" />
  </wsdl:message>
  <wsdl:message name="IResellerService_SoldOutPrepaidCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoldOutPrepaidCardResponse" />
  </wsdl:message>
  <wsdl:message name="IResellerService_SoldOutPrepaidCardNew_InputMessage">
    <wsdl:part name="parameters" element="tns:SoldOutPrepaidCardNew" />
  </wsdl:message>
  <wsdl:message name="IResellerService_SoldOutPrepaidCardNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoldOutPrepaidCardNewResponse" />
  </wsdl:message>
  <wsdl:message name="IResellerService_SoldOutPrepaidCard2_InputMessage">
    <wsdl:part name="parameters" element="tns:SoldOutPrepaidCard2" />
  </wsdl:message>
  <wsdl:message name="IResellerService_SoldOutPrepaidCard2_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoldOutPrepaidCard2Response" />
  </wsdl:message>
  <wsdl:message name="IResellerService_EnquiryLastestCardPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:EnquiryLastestCardPrice" />
  </wsdl:message>
  <wsdl:message name="IResellerService_EnquiryLastestCardPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnquiryLastestCardPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IResellerService_EnquiryLastestCardPrice2_InputMessage">
    <wsdl:part name="parameters" element="tns:EnquiryLastestCardPrice2" />
  </wsdl:message>
  <wsdl:message name="IResellerService_EnquiryLastestCardPrice2_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnquiryLastestCardPrice2Response" />
  </wsdl:message>
  <wsdl:message name="IResellerService_QuickTopUp_InputMessage">
    <wsdl:part name="parameters" element="tns:QuickTopUp" />
  </wsdl:message>
  <wsdl:message name="IResellerService_QuickTopUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuickTopUpResponse" />
  </wsdl:message>
  <wsdl:message name="IResellerService_InquiryTopUp_InputMessage">
    <wsdl:part name="parameters" element="tns:InquiryTopUp" />
  </wsdl:message>
  <wsdl:message name="IResellerService_InquiryTopUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:InquiryTopUpResponse" />
  </wsdl:message>
  <wsdl:portType name="IResellerService">
    <wsdl:operation name="AuthenticationAPI">
      <wsdl:input wsaw:Action="http://tempuri.org/IResellerService/AuthenticationAPI" message="tns:IResellerService_AuthenticationAPI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResellerService/AuthenticationAPIResponse" message="tns:IResellerService_AuthenticationAPI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoldOutPrepaidCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IResellerService/SoldOutPrepaidCard" message="tns:IResellerService_SoldOutPrepaidCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResellerService/SoldOutPrepaidCardResponse" message="tns:IResellerService_SoldOutPrepaidCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoldOutPrepaidCardNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IResellerService/SoldOutPrepaidCardNew" message="tns:IResellerService_SoldOutPrepaidCardNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResellerService/SoldOutPrepaidCardNewResponse" message="tns:IResellerService_SoldOutPrepaidCardNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoldOutPrepaidCard2">
      <wsdl:input wsaw:Action="http://tempuri.org/IResellerService/SoldOutPrepaidCard2" message="tns:IResellerService_SoldOutPrepaidCard2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResellerService/SoldOutPrepaidCard2Response" message="tns:IResellerService_SoldOutPrepaidCard2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnquiryLastestCardPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IResellerService/EnquiryLastestCardPrice" message="tns:IResellerService_EnquiryLastestCardPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResellerService/EnquiryLastestCardPriceResponse" message="tns:IResellerService_EnquiryLastestCardPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnquiryLastestCardPrice2">
      <wsdl:input wsaw:Action="http://tempuri.org/IResellerService/EnquiryLastestCardPrice2" message="tns:IResellerService_EnquiryLastestCardPrice2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResellerService/EnquiryLastestCardPrice2Response" message="tns:IResellerService_EnquiryLastestCardPrice2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuickTopUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IResellerService/QuickTopUp" message="tns:IResellerService_QuickTopUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResellerService/QuickTopUpResponse" message="tns:IResellerService_QuickTopUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InquiryTopUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IResellerService/InquiryTopUp" message="tns:IResellerService_InquiryTopUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResellerService/InquiryTopUpResponse" message="tns:IResellerService_InquiryTopUp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IResellerService" type="tns:IResellerService">
    <wsp:PolicyReference URI="#WSHttpBinding_IResellerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticationAPI">
      <soap12:operation soapAction="http://tempuri.org/IResellerService/AuthenticationAPI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoldOutPrepaidCard">
      <soap12:operation soapAction="http://tempuri.org/IResellerService/SoldOutPrepaidCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoldOutPrepaidCardNew">
      <soap12:operation soapAction="http://tempuri.org/IResellerService/SoldOutPrepaidCardNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoldOutPrepaidCard2">
      <soap12:operation soapAction="http://tempuri.org/IResellerService/SoldOutPrepaidCard2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnquiryLastestCardPrice">
      <soap12:operation soapAction="http://tempuri.org/IResellerService/EnquiryLastestCardPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnquiryLastestCardPrice2">
      <soap12:operation soapAction="http://tempuri.org/IResellerService/EnquiryLastestCardPrice2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickTopUp">
      <soap12:operation soapAction="http://tempuri.org/IResellerService/QuickTopUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InquiryTopUp">
      <soap12:operation soapAction="http://tempuri.org/IResellerService/InquiryTopUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResellerService">
    <wsdl:port name="WSHttpBinding_IResellerService" binding="tns:WSHttpBinding_IResellerService">
      <soap12:address location="http://apitest.myancloud.net/prepaidcard/ResellerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://apitest.myancloud.net/prepaidcard/ResellerService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>