App_WebReferences/legancyMusicStoreWCF/payhere.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerateMusicStoreRedeemCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Count" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateMusicStoreRedeemCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateMusicStoreRedeemCodeResult" type="tns:RedeemCard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RedeemCard">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="lstcard" type="tns:ArrayOfRedeemCode" />
          <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardCount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranscationID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRedeemCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RedeemCode" nillable="true" type="tns:RedeemCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RedeemCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RedeemCard" nillable="true" type="tns:RedeemCard" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateMusicStoreRedeemCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateMusicStoreRedeemCode" />
  </wsdl:message>
  <wsdl:message name="GenerateMusicStoreRedeemCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateMusicStoreRedeemCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateMusicStoreRedeemCodeHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="CardType" type="s:string" />
    <wsdl:part name="Count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateMusicStoreRedeemCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:RedeemCard" />
  </wsdl:message>
  <wsdl:message name="GenerateMusicStoreRedeemCodeHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="CardType" type="s:string" />
    <wsdl:part name="Count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateMusicStoreRedeemCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:RedeemCard" />
  </wsdl:message>
  <wsdl:portType name="PayHereSoap">
    <wsdl:operation name="GenerateMusicStoreRedeemCode">
      <wsdl:input message="tns:GenerateMusicStoreRedeemCodeSoapIn" />
      <wsdl:output message="tns:GenerateMusicStoreRedeemCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PayHereHttpGet">
    <wsdl:operation name="GenerateMusicStoreRedeemCode">
      <wsdl:input message="tns:GenerateMusicStoreRedeemCodeHttpGetIn" />
      <wsdl:output message="tns:GenerateMusicStoreRedeemCodeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PayHereHttpPost">
    <wsdl:operation name="GenerateMusicStoreRedeemCode">
      <wsdl:input message="tns:GenerateMusicStoreRedeemCodeHttpPostIn" />
      <wsdl:output message="tns:GenerateMusicStoreRedeemCodeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayHereSoap" type="tns:PayHereSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateMusicStoreRedeemCode">
      <soap:operation soapAction="http://tempuri.org/GenerateMusicStoreRedeemCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayHereSoap12" type="tns:PayHereSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateMusicStoreRedeemCode">
      <soap12:operation soapAction="http://tempuri.org/GenerateMusicStoreRedeemCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayHereHttpGet" type="tns:PayHereHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GenerateMusicStoreRedeemCode">
      <http:operation location="/GenerateMusicStoreRedeemCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayHereHttpPost" type="tns:PayHereHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GenerateMusicStoreRedeemCode">
      <http:operation location="/GenerateMusicStoreRedeemCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayHere">
    <wsdl:port name="PayHereSoap" binding="tns:PayHereSoap">
      <soap:address location="http://testsubdomain.myanmarmusicstore.com/payhere.asmx" />
    </wsdl:port>
    <wsdl:port name="PayHereSoap12" binding="tns:PayHereSoap12">
      <soap12:address location="http://testsubdomain.myanmarmusicstore.com/payhere.asmx" />
    </wsdl:port>
    <wsdl:port name="PayHereHttpGet" binding="tns:PayHereHttpGet">
      <http:address location="http://testsubdomain.myanmarmusicstore.com/payhere.asmx" />
    </wsdl:port>
    <wsdl:port name="PayHereHttpPost" binding="tns:PayHereHttpPost">
      <http:address location="http://testsubdomain.myanmarmusicstore.com/payhere.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>