bis/App_WebReferences/ForwarderService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ForwarderService.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ForwarderService.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTblB2BInvoices">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblB2BInvoices" nillable="true" type="tns:TblB2BInvoices" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblB2BInvoices" nillable="true" type="tns:ArrayOfTblB2BInvoices" />
  <xs:complexType name="TblB2BInvoices">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillerInvoiceId" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TblB2BInvoices" nillable="true" type="tns:TblB2BInvoices" />
</xs:schema>